:global {
  @import 'base';
  @import 'devices';
  @import 'grid';
  @import '~normalize.css/normalize';
  @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,100,500,900);

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    background-color: $background;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
  }
}
